@import 'main.scss';
#con{
  width:100%;
  height:100%;
  overflow-y: auto;
  background:#fff;
  #header{
    width:100%;
    height:44px;
    @include flexBox;
    .iconfont{
      width:26px;
      height:25px;
      margin-left:15px;
      float: left;
    }
    .title{
      @include flex(1);
      width:220px;
      height:36px;
      border:1px solid #ccc;
      margin-left:10px;
      margin-top:3px;
      border-radius:5px;
      .iconfont{
        float:left;
        margin-left:10px;
        line-height: 36px;
      }
      input{
        float:left;
        border:none;
        line-height: 36px;
        margin-left:10px;
        outline: none;
        background:#FAFBFC;
      }
    }
    .iconfont:nth-of-type(2){
      float:right;
      margin-right:15px;
    }
  }
  #shoplist{
    width:100%;
    height:100%;
    li{
      width:90%;
      height:170px;
      margin:10px auto;
      border-bottom:1px solid #ccc;
      .img{
        width:150px;
        height:150px;
        float:left;
        margin:5px 10px 5px 0;
        img{
          display:block;
          width:100%;
          height:100%;
        }
      }

      .content{
        width:140px;
        height:100%;
        float:left;
        margin-left:10px;
        margin-top:5px;
        overflow: hidden;
            .searchname{
              font-size:14px;
              color:#343434;
              margin-top:10px;
              overflow: hidden;
              width:100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            #pinpai{
              font-size:16px;
              color:#f66;
            }
            .zhekou{
              margin-top:10px;
            }
            .price{
              width:100%;
              margin-top:10px;
              span{
                display:block;
              }
              .old{
                font-size:20px;
              }
              .new{
                color:#ccc;
              }
              .iconfont{
                float:right;
                margin-top:-20px;
                color:#f66;
              }
            }
      }
    }
  }
}
