@import 'main.scss';
.type{
    width:100%;
    height:100%;
    position:relative;
    #header{
        width:100%;
        height:45px;
        @include flexBox;
        @include flex-direction(row);
        background:#FAFBFC;
        font-size:16px;
        border-bottom: 1px solid #ccc;
        box-shadow: 2px,5px,0,#000;
        .iconfont{
            margin-left:20px;
        }
        .title{
            @include flex(1);
            @include flex-center;
            margin-left:-10px;
        }
    }
    .content{
        width:100%;
        margin-top:10px;
        .info{
            width:100%;
            height:130px;
            background:#fff;
            overflow: hidden;
            h2{
                width:100%;
                height:30px;
                line-height: 30px;
                margin:10px auto;
                padding-left:20px;
                border-bottom:1px solid #ccc;
            }
            #information{
                width:90%;
                margin:10px auto;
                li{
                    width:100%;
                    .nameandphone{
                        font-size:20px;
                        height:40px;
                        line-height: 40px;
                        span:nth-of-type(1){
                            float:left;
                        }
                        span:nth-of-type(2){
                            float:right;
                        }
                    }
                    p{
                        color:#666;
                    }
                }
            }
        }
        .topay{
            width:100%;
            margin-top:10px;
            background:#fff;
            h2{
              width:100%;
                height:30px;
                line-height: 30px;
                margin:10px auto;
                padding-left:20px;
                border-bottom:1px solid #ccc;  
            }
            li{
                width:90%;
                margin:0 auto;
                height:48px;
                border-bottom:1px solid #ccc;
                overflow: hidden;
                input{
                    float:left;
                    margin-top:17px;
                    outline: none;
                    margin-right:10px;
                }
                p{
                    float:left;
                    line-height: 48px;
                }
            }
            li:nth-of-type(3){
                border:none;
            }
        }
    }
    .paymoney{
            width:100%;
            height:50px;
            background:#fff;
            border-top:1px solid #ccc;
            position:fixed;
            left:0;
            bottom:0;
            span{
                display:block;
                width:120px;
                height:100%;
                float:right;
                background:#FF0056;
                color:#fff;
                text-align: center;
                line-height: 50px;
            }
        }
}